<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SectionNames" type="System.Configuration.DictionarySectionHandler"/>
    <section name="NETEASE163.Smtp" type="System.Configuration.DictionarySectionHandler"/>
    <section name="NETEASE126.Smtp" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Gmail.Smtp" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Sina.Smtp" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Tencent.Smtp" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <SectionNames>
    <add key="N163" value="NETEASE163.Smtp" />
    <add key="N126" value="NETEASE126.Smtp" />
    <add key="Gmail" value="Gmail.Smtp" />
    <add key="Sina" value="Sina.Smtp" />
    <add key="Tencent" value="Tencent.Smtp" />
  </SectionNames>

  <NETEASE163.Smtp>
    <add key="Name" value="网易163"  />
    <add key="Host" value="smtp.163.com" />
    <add key="Port" value="25" />
    <add key="Ssl" value="false" />
  </NETEASE163.Smtp>
  <NETEASE126.Smtp>
    <add key="Name" value="网易126"  />
    <add key="Host" value="smtp.126.com" />
    <add key="Port" value="25" />
    <add key="Ssl" value="false" />
  </NETEASE126.Smtp>
  <Gmail.Smtp>
    <add key="Name" value="谷歌"  />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="Ssl" value="true" />
  </Gmail.Smtp>
  <Sina.Smtp>
    <add key="Name" value="新浪"  />
    <add key="Host" value="smtp.sina.cn" />
    <add key="Port" value="25" />
    <add key="Ssl" value="false" />
  </Sina.Smtp>
  <Tencent.Smtp>
    <add key="Name" value="新浪"  />
    <add key="Host" value="smtp.qq.cn" />
    <add key="Port" value="25" />
    <add key="Ssl" value="false" />
  </Tencent.Smtp>
</configuration>